<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <section class="contenedorDePortal">
        <div class="Portal">
            <div class="imagen">
                <img src="" alt="imagen de perfil">
            </div>
            <div class="name">
                <h1 class="Nombre">¡Hola! {Name}</h1>
            </div>
        </div>
    </section>
</body>
</html>